@font-face {
  font-family: "Excon";
  font-weight: 300;
  src: url("../fonts/Excon-Light.otf");
}

@font-face {
  font-family: "Excon";
  font-weight: 400;
  src: url("../fonts/Excon-Regular.otf");
}

@font-face {
  font-family: "Excon";
  font-weight: 500;
  src: url("../fonts/Excon-Medium.otf");
}

@font-face {
  font-family: "Excon";
  font-weight: 700;
  src: url("../fonts/Excon-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #1cf9f9;
  --secondary-clr: #2b3241;
  --green-clr: #d8ee34;
  --linear-bg: linear-gradient(270deg, #00fff0 0%, #d8ee34 100%);
  --card-bg: #292929;
}

body {
  font-family: "Excon", sans-serif;
  background: #141414;
  color: #fff;
}

html {
  scroll-padding-top: 94px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: #141414;
  text-transform: capitalize;
}

a,
.nav-link {
  text-decoration: none;
  transition: 0.2s linear;
  
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

.primary-btn {
  position: relative;
  font-size: 18px;
  line-height: normal;
  padding: 13px 40px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 700;
  color: #141414;
  background-color: var(--primary-clr);
  border-radius: 10px;
}

.primary-btn:hover {
  background: transparent;
  color: var(--primary-clr);
  border-color: var(--primary-clr);
}

.inner-gap {
  padding: 100px 0;
}

.title-group {
  margin-bottom: 64px;
  text-align: center;
}

.section-title {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  color: var(--primary-clr);
  text-transform: capitalize;
  margin-bottom: 28px;
  display: block;
}

.sub-title {
  font-size: 48px;
  line-height: 1.6;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.text-blue {
  color: var(--primary-clr);
}

/* Header */
header {
  background: #0b0924;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
  padding-block: 15px;
}

.navbar-brand img {
  max-width: 220px;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar {
  padding-block: 0;
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 400;
  padding: 16px 20px;
  color: #fff;
  text-transform: uppercase;
}


.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 20px;
  font-size: large;
  font-family: "Excon";
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.nav-link:focus,
.nav-link:hover,
.nav-link.active {
  color: var(--primary-clr);
}

a.dropdown-item {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 700;
  padding: 10px;
  color: #141414;
  text-transform: uppercase;
}

.toggle-menu-icon {
  width: 24px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.toggle-menu-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background: #fff;
}

.toggle-menu-icon span:nth-child(1) {
  top: 2px;
}

.toggle-menu-icon span:nth-child(2),
.toggle-menu-icon span:nth-child(3) {
  top: 10px;
}

.toggle-menu-icon span:nth-child(4) {
  top: 18px;
}

.toggle-menu-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.toggle-menu-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.toggle-menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.toggle-menu-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Banner */
.banner {
  background-image: url("../images/banner-bg.png");
  background-size: cover;
  padding-block: 4rem;
}

.banner-left {
  height: 100%;
  padding-right: 45px;
  position: relative;
}

.banner-content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-content h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--primary-clr);
  margin-bottom: 12px;
  text-transform: capitalize;
}

.banner-content h1 {
  font-size: 90px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.banner-content h1 .small {
  font-size: 75px;
  display: inline-block;
}

.banner-content h1 .orange {
  color: var(--primary-clr);
}

.banner-content p {
  font-size: 30px;
  color: #fff;
}

/*  */
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-slide .swiper-avatar {
  display: none;
}

.swiper-slide.swiper-slide-visible.swiper-slide-next .swiper-avatar {
  display: block;
}

.swiper-avatar {
  text-align: center;
}

.swiper-avatar img {
  margin: 0 auto;
}

.swiper-content {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #414244;
  background: #1e2835;
}

.swiper-content h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #fff;
  text-transform: capitalize;
}

.swiper-content p {
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
  color: #798da3;
}

/*  */
.counter {
  background-image: url("../images/founder-bg.png");
  background-size: cover;
}

.counter-card {
  height: 330px;
  width: 310px;
  background-image: url("../images/counter-card-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s linear;
  position: relative;
}

.counter-card:hover {
  transform: translateY(-5px);
}

.counter-card h3 {
  font-size: 70px;
  font-weight: 700;
  color: var(--primary-clr);
  text-transform: capitalize;
}

.counter-card p {
  font-size: 26px;
  font-weight: 500;
  color: #798da3;
  text-transform: capitalize;
}

.counter-number {
  position: absolute;
  bottom: 18px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
}

.counter-desc {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.72px;
  color: #798da3;
  line-height: 1.8;
  text-align: center;
  margin-top: 50px;
}

/*  */
.about {
  background-image: url("../images/about-bg.png");
  background-size: cover;
}

.about-content p {
  color: #798da3;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.72px;
  margin-bottom: 30px;
}

.about-card {
  padding: 40px 24px;
  border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #414244;
  background: #1e2835;
  height: 100%;
  transition: 0.2s linear;
}

.about-card:hover {
  transform: translateY(-5px);
}

.about-card-img {
  margin-inline: auto;
  position: relative;
}

.about-card a {
  display: block;
  color: #fff;
  margin-block: 20px 10px;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
}

.about-card p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #798da3;
}

/*  */
.tokenomics {
  position: relative;
}

.tokenomics::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/tokenomics-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: luminosity;
}

.tokenomics-content h2 .large {
  font-size: 74px;
}

.tokenomics-content p {
  font-size: 24px;
  font-weight: 400;
  color: #798da3;
  line-height: 2;
}

.roadmapSwiper {
  position: relative;
}

.roadmapSwiper::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background: var(--primary-clr);
  left: 0;
  top: 20px;
}

.roadmap-inner {
  position: relative;
}

.slide-number {
  color: #0b0924;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
  width: 50px;
  background: var(--primary-clr);
  height: 50px;
  letter-spacing: 0.9px;
  text-transform: capitalize;
  position: absolute;
  right: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.roadmap-list {
  border-radius: 20px;
  border: 1px solid #414244;
  background: #1e2835;
  padding: 30px;
}

.roadmap-list ul {
  list-style: disc;
  padding-left: 16px;
}

.roadmap-list ul li {
  font-size: 20px;
  line-height: 2.5;
}

.roadmap-list ul li:last-child {
  padding-bottom: 0px;
}

.roadmap-inner h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 250%;
  letter-spacing: 0.9px;
  padding-top: 30px;
  text-transform: capitalize;
  border-right: 1px solid var(--primary-clr);
  margin-right: 44px;
}

/*  */
.title-group p {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.72px;
  color: #798da3;
  text-align: center;
}

/*  */
.footer-title {
  font-size: 60px;
  color: var(--primary-clr);
  font-weight: 700;
  text-transform: uppercase;
}

.footer-top {
  padding-block: 100px 60px;
  text-align: center;
}

.footer-top .nav-item a {
  padding: 18px 30px;
}

.footer-link a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.footer-bottom p {
  padding-block: 8px;
  text-align: center;
  color: #fff;
}

.footer-bottom {
  background: var(--card-bg);
  padding-block: 10px;
}

@media (min-width: 1650px) {
  .container {
    max-width: 1614px;
  }

  .banner-content h1 {
    font-size: 100px;
  }
}

@media (max-width: 1400px) {
  .inner-gap {
    padding: 80px 0;
  }

  .primary-btn {
    font-size: 14px;
    padding: 6px 14px;
  }

  .section-title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .sub-title {
    font-size: 54px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 12px;
  }

  .banner-left {
    padding-right: 0;
  }

  .banner-content h1 .small {
    font-size: 60px;
  }

  .banner-content h2 {
    font-size: 40px;
  }

  .banner-content p {
    font-size: 22px;
  }

  .banner-content h1 {
    font-size: 75px;
  }

  .about-content p {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .about-card a {
    font-size: 26px;
  }

  .about-card p {
    font-size: 18px;
  }

  .tokenomics-content h2 .large {
    font-size: 70px;
  }

  .tokenomics-content img {
    height: 240px;
  }

  .counter-card {
    height: 280px;
    width: 250px;
  }

  .counter-card h3 {
    font-size: 48px;
  }

  .counter-card p {
    font-size: 18px;
  }

  .counter-number {
    font-size: 32px;
  }
}

@media (max-width: 1199px) {
  .inner-gap {
    padding: 70px 0;
  }

  .primary-btn {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 6px;
  }

  .section-title {
    font-size: 24px;
  }

  .sub-title {
    font-size: 38px;
    margin-bottom: 18px;
  }

  .navbar-brand img {
    max-width: 180px;
  }

  header .primary-btn {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 6px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 16px;
  }

  .banner-content h1,
  .banner-content h1 span.small {
    font-size: 54px;
  }

  .banner-content p {
    font-size: 20px;
  }

  .tokenomics-content h2 .large {
    font-size: 57px;
  }

  .footer-title {
    font-size: 50px;
  }

  .footer-top {
    padding-block: 60px 40px;
  }

  .footer-link a {
    font-size: 22px;
  }

  .counter-card {
    height: 240px;
    width: 220px;
  }

  .counter-number {
    font-size: 30px;
    bottom: 12px;
  }
}

@media (max-width: 991px) {
  .primary-btn {
    font-size: 16px;
    padding: 10px 24px;
  }

  .swiper-slide.swiper-slide-visible.swiper-slide-active .swiper-avatar {
    display: block;
  }

  .sub-title {
    font-size: 30px;
  }

  .section-title {
    font-size: 20px;
  }

  #navbar-right .navbar-nav .nav-link {
    padding: 12px 20px;
  }

  .navbar-nav {
    padding: 10px;
  }

  .dropdown-menu {
    padding: 0.5rem 15px;
    background-color: transparent;
    border: 0;
  }

  a.dropdown-item {
    font-weight: 500;
    color: #fff;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    background: #1f2029;
    width: 100%;
  }

  .navbar-brand img {
    max-width: 180px;
  }

  .counter .revolution-card h3 {
    font-size: 50px;
  }

  .about-right {
    text-align: center;
  }

  .revolution-img {
    height: 400px;
  }

  .tokenomics-img {
    text-align: center;
  }

  .tokenomics-img img {
    width: 80%;
  }

  .social-media img {
    height: 60px;
  }

  .counter-card {
    height: 260px;
    width: 250px;
  }

  .counter-card h3 {
    font-size: 50px;
  }

  .counter-card p {
    font-size: 20px;
  }

  .counter-number {
    font-size: 30px;
  }

  .about-card-img img {
    height: 80px;
  }

  .title-group p {
    font-size: 20px;
  }

  .tokenomics-content p {
    line-height: 1.5;
    font-size: 20px;
  }

  .banner-content h2 {
    font-size: 30px;
  }

  .banner-content h1 span.small {
    font-size: 40px;
  }

  .roadmap-list {
    padding: 20px;
  }

  .roadmap-list ul li {
    font-size: 18px;
    line-height: 2;
  }

  .swiper-content p {
    font-size: 18px;
    line-height: 1.5;
  }

  .counter-desc {
    font-size: 20px;
  }

  .about-content p {
    line-height: 1.5;
    font-size: 20px;
  }

  .tokenomics-content h2 .large {
    font-size: 47px;
  }

  .banner-right {
    text-align: center;
  }

  .banner-right img {
    width: 70%;
  }

  .footer-title {
    font-size: 40px;
  }

  .footer-top .nav-item a {
    font-size: 20px;
    padding: 10px;
  }

  .footer-top p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .inner-gap {
    padding: 50px 0;
  }

  .title-group {
    margin-bottom: 14px;
  }

  p {
    font-size: 18px;
  }

  .banner {
    padding-block: 44px;
  }

  .revolution-img {
    height: 300px;
    object-fit: contain;
  }

  .revolution-card {
    padding: 25px;
  }

  .about-wrapper {
    margin-bottom: 50px;
  }

  .about .service-card,
  .service-card {
    padding: 20px;
  }

  .about-content {
    text-align: center;
  }

  .swiper-content {
    text-align: center;
  }

  .title-group p {
    font-size: 18px;
  }

  .footer-title {
    font-size: 40px;
  }

  .footer-top .nav-item a {
    padding: 18px 20px;
    font-size: 18px;
  }

  .about-card-img img {
    height: 60px;
  }

  .roadmap-list ul li {
    font-size: 18px;
    line-height: 1.8;
  }

  .about-card {
    text-align: center;
  }

  .about-card p {
    font-size: 16px;
  }

  .about-content p {
    font-size: 18px;
  }

  .counter-desc {
    font-size: 18px;
    margin-top: 30px;
  }

  .tokenomics-content {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .inner-gap {
    padding: 40px 0;
  }

  p {
    font-size: 16px;
  }

  .primary-btn {
    font-size: 15px;
    padding: 8px 16px;
  }

  .sub-title {
    font-size: 24px;
  }

  .section-title {
    font-size: 18px;
  }

  .counter-desc {
    font-size: 16px;
    margin-top: 20px;
  }

  .about-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .navbar-brand img {
    max-width: 120px;
  }

  .banner-content h2 {
    font-size: 20px;
  }

  .banner-content h1 {
    font-size: 36px;
  }

  .banner-content h1 span.small {
    font-size: 30px;
  }

  .banner-right img {
    width: 60%;
  }

  .swiper-content p {
    font-size: 14px;
  }

  .swiper-content {
    padding: 16px;
    border-radius: 10px;
  }

  .swiper-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .slide-number {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }

  .roadmap-inner h3 {
    font-size: 24px;
    margin-right: 38px;
  }

  .footer-top .nav-item a {
    padding: 10px 20px;
    font-size: 16px;
  }

  .roadmap-list ul li {
    font-size: 16px;
    line-height: 1.8;
  }

  .banner-content p {
    font-size: 16px;
  }

  .about-card {
    padding: 25px 20px;
    border-radius: 10px;
  }

  .tokenomics-content h2 .large {
    font-size: 40px;
  }

  .tokenomics-content img {
    height: 180px;
  }

  .about-card-img img {
    height: 50px;
  }

  .revolution-img {
    max-width: 300px;
    width: 100%;
  }

  .title-group p {
    font-size: 16px;
    letter-spacing: 0;
  }

  .about-card p {
    font-size: 16px;
  }

  .revolution,
  .counter {
    padding-block: 40px;
  }

  .revolution-card {
    padding: 25px;
  }

  .revolution-card h3 {
    font-size: 22px;
  }

  .counter .revolution-card h3 {
    font-size: 40px;
  }

  .counter .revolution-card p {
    font-size: 20px;
  }

  .about {
    padding-block: 40px;
  }

  .about-wrapper {
    margin-bottom: 30px;
  }

  .service-card {
    flex-direction: column;
  }

  .tokenomics {
    padding-block: 40px;
  }

  .footer-top {
    padding-block: 40px 20px;
  }

  .footer-link .nav-link {
    font-size: 16px;
    padding-inline: 6px;
  }

  .social-media a img {
    height: 40px;
  }

  .footer-title {
    font-size: 30px;
  }

  .counter-card h3 {
    font-size: 40px;
  }

  .counter-card p {
    font-size: 18px;
  }

  .about-card a {
    font-size: 20px;
  }

  .tokenomics-content p {
    font-size: 16px;
  }
}

@media (max-width: 460px) {
  .swiper-avatar img {
    width: 65%;
  }

  .tokenomics-img img {
    width: 90%;
  }
}

@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}


.snubsloth-text {
  font-size: xx-large;
  font-family: 'Excon';
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0; /* Remove default margin */
}

@media (min-width: 1200px) { /* Adjust based on your desired breakpoint */
  .snubsloth-text {
    margin-right: 30rem; /* Add margin only for screens wider than 768px */
  }
}

